body,
html
{
margin:0;
padding:0;
height:100%;

}

*{
    box-sizing: border-box;
}

.signUpContainer{
height:100vh;
width:100%;
background-color: #efefee;
display:flex;
justify-content: center;


}

.column{
    background: #fff;
    min-height: 350px;
    max-height: 100%;
    width:450px;
    margin: 35px ;
    padding:16px;

    overflow-y: scroll;
}
 .column form{
display:flex;
flex-direction: column;

}
input[type="text"],
input[type="password"],
input[type="email"]
{
    padding:10px;
    margin-bottom: 10px;
    border-radius: 5px;
    
    
}
input[type="submit"]{

width:80px;
padding:10px;
border-radius:3px;
border:none;
background:blue;
color:#fff;
}

.column h1{
    font-size:40px;
    font-weight: 500;
    margin-bottom: 0px;
}